{% extends 'firstApp/base.html' %}
{% block content %}
    <h1>Mediko datuak:</h1>
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="d-flex flex-column">
            <a href="{% url 'mediko-list' %}"><button class="btn btn-primary mb-2">Mediko datuak ikusi</button></a>
            <a href="{% url 'mediko_new' %}"><button class="btn btn-primary">Medikoak gehitu</button></a>
            <a href="{% url 'mediko_delete' %}"><button class="btn btn-primary">Medikoak Ezabatu</button></a>
        </div>
    </div>    
{% endblock %}